
.warning{
  background-color: orange;
}
.textError{
  color:red;
  background-color: white;
  border-radius: 5%;
}

.registro{
 border: 2px solid rgb(251, 244, 244);
 padding: 7px;
display: inline-block;
align-items: center;
justify-content: center;
text-align: center;
display: block;
background-color: rgb(232, 46, 46);
border-radius: 3%;
width: 270px;
}
.formContainer{
  display: flex;
  justify-content: center;
  align-items: center ;
  justify-items: center;
  margin-top: 10%;
}
.inputForm{
  width: 150px;
  margin: 5px;
padding: 3px;
}
